<div class="header-slider" [class.switching]="switching"
     [ngStyle]="{'background-image': 'url(/assets/img/' + background + ')'}">
    <div class="content">
        <div class="navigation prev" (click)="prevSlide()"></div>
        <div class="navigation next" (click)="nextSlide()"></div>

        <div class="wrapper">

            <ng-container *ngIf="!slidesQuery.length">
                <h1>Greska prilikom ucitavanja slidera</h1>
                <h2>Proverite da li slider ima dovoljno elemenata</h2>
            </ng-container>

            <ng-container *ngIf="slidesQuery.length">
                <h1 #title></h1>
                <h2 #subTitle></h2>

                <p #description></p>

                <a class="btn btn-gold">PRODAJA APARTMANA</a>
            </ng-container>
        </div>
    </div>
    <div class="info">

        <div class="wrapper">

            <div class="pager">
                <div *ngFor="let slide of slides; let index = index" [class.active]="index == activeSlide"></div>
            </div>

            <p>
                Vila Leonardo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>
