<div class="header-slider">
    <div class="content">
        <div class="wrapper">
            <h1>KLJUC U VASIM RUKAMA</h1>
            <h2>SIGURNOST U NASIM</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Turpis tincidunt id aliquet risus feugiat in ante.
                Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
                Turpis tincidunt id aliquet risus feugiat in ante metus. Pulvinar elementum integer enim  neque volutpat ac tincidunt vitae.
            </p>

            <a class="btn btn-gold">PRODAJA APARTMANA</a>
        </div>
    </div>
    <div class="info">

        <div class="wrapper">

            <div class="pager">
                <div></div>
                <div class="active"></div>
                <div></div>
            </div>

            <p>
                Vila Leonardo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>
