<section class="site">
  <header class="header">

  </header>

  <router-outlet></router-outlet>

  <!-- TODO: Move to separate component -->
  <div class="ribbon ribbon-dark">
      USKORO NOVA, MODERNIJA, VECA I MOCNIJA - LEONARDO V
  </div>

  <div class="split">
    <div class="view view-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Turpis tincidunt id aliquet risus feugiat in ante.
        Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
        Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque.
    </div>

    <div class="view view-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Turpis tincidunt id aliquet risus feugiat in ante.
        Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
        Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque.
    </div>
  </div>

  <div class="center">
    <a class="btn btn-gold center mb-40">
        Detaljnije o apartmanima
    </a>
  </div>

  <!-- TODO: Move to separate component -->
  <div class="ribbon ribbon-dark">
      GOLD INVEST GRADNJA
  </div>
</section>
