<footer class="footer">
    <div class="container">
        <div class="left">
            <div class="links">
                <div class="link-group">
                    <h1>Gold Invest Gradnja</h1>

                    <ul>
                        <li><a>Apartmani</a></li>
                        <li><a>O nama</a></li>
                        <li><a>Kontakt</a></li>
                        <li><a>Galerija</a></li>
                        <li><a>Katalog</a></li>
                    </ul>
                </div>

                <div class="link-group">
                    <h1>Korisni linkovi</h1>

                    <ul>
                        <li><a>Cesto postavljana pitanja</a></li>
                        <li><a>Zakoni i dokumenta</a></li>
                        <li><a>O Zlatiboru</a></li>
                        <li><a>Ski Centar Zlatibor</a></li>
                    </ul>
                </div>
            </div>

            <div class="subscribe">

                <p>
                    Za sve nove informacije i ponude kliknite na PRIJAVI ME
                </p>

                <form>
                    <input type="email" name="email" placeholder="Vasa e-mail adresa" />
                    <button type="submit">PRIJAVI ME</button>
                </form>
            </div>
        </div>

        <div class="right">

        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="powered">
                Powered by Limit Consolidated
            </div>

            <div class="copy">
                &copy; Copyright 2017, All Right Reserved
            </div>
        </div>
    </div>
</footer>
