<div class="map">
    <h1>
        ZAINTERESOVANI STE DA UZMETE STVARI U SVOJE RUKE…
        <span>
            KAKO DA NAS PRONADETE?
        </span>
    </h1>

    <div class="content">
        <div class="m">

        </div>
        <div class="description">

            <div class="block">
                <span class="label">Adresa</span>
                <span class="val">Zlatiborska BB, Zlatibor</span>
            </div>

            <div class="block">
                <span class="label">Telefon</span>
                <span class="val">+381 (0) 31 555 444</span>
                <span class="val">+381 (0) 31 555 333</span>
            </div>

            <div class="block">
                <span class="label">Fax</span>
                <span class="val">+381 (0) 31 555 111</span>
            </div>

            <div class="block">
                <span class="label">E-mail</span>
                <span class="val">info@goldinvest.com</span>
            </div>
        </div>
    </div>
</div>
