<app-slider></app-slider>

<app-ribbon style="gold">
    USKORO NOVA, MODERNIJA, VECA I MOCNIJA - LEONARDO V
</app-ribbon>

<app-split-view>
    <app-split-view-item style="dark">
        <h1>KLJUC U VASIM RUKAMA</h1>
        <h2>SIGURNOST U NASIM</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Turpis tincidunt id aliquet risus feugiat in ante. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
            Turpis tincidunt id aliquet risus feugiat in ante metus. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae.
            Montes nascetur ridiculus mus mauris vitae ultricies. Morbi blandit cursus risus at ultrices mi tempus imperdiet.
            Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque elit ullamcorper.
        </p>

        <a class="btn btn-gold">
            Galerija apartmana
        </a>
    </app-split-view-item>

    <app-split-view-item style="light">
        <h1>Leonardo V</h1>
        <h2>Nova, bolja, luksuznija...</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Turpis tincidunt id aliquet risus feugiat in ante. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
            Turpis tincidunt id aliquet risus feugiat in ante metus. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae.
            Montes nascetur ridiculus mus mauris vitae ultricies. Morbi blandit cursus risus at ultrices mi tempus imperdiet.
            Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque elit ullamcorper.
        </p>

        <a class="btn btn-dark">
            REZERVISI NA VREME
        </a>
    </app-split-view-item>
</app-split-view>

<app-video></app-video>

<app-ribbon style="dark">
    USKORO NOVA, MODERNIJA, VECA I MOCNIJA - LEONARDO V
</app-ribbon>

<!--TODO: Add missing split view-->
<app-split-view>
    <app-split-view-item style="light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Turpis tincidunt id aliquet risus feugiat in ante.
        Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
        Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque.
    </app-split-view-item>

    <app-split-view-item>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Turpis tincidunt id aliquet risus feugiat in ante.
        Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
        Est sit amet facilisis magna etiam tempor orci eu. Rhoncus est pellentesque.
    </app-split-view-item>
</app-split-view>

<div class="center">
    <a class="btn btn-gold center mb-40">
        Detaljnije o apartmanima
    </a>
</div>

<app-ribbon style="dark">
    GOLD INVEST GRADNJA
</app-ribbon>
