@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import 'app/style/_palette.scss';
* {

  margin: 0;
  padding: 0;
  outline: none;
}

html, body {

  font-family: 'Roboto', sans-serif;
}

.btn {

  display: inline-flex;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;

  transition: all .2s;

  &:hover {

    box-shadow: 0 0 10px rgba(#000, .5);
  }

  &-gold {

    background: $gi-gold;
    color: $gi-charocal;

    &:hover {

      color: #fff;
    }
  }
}
