<div class="faq">
    <h1>PITANJA I ODGOVORI</h1>

    <div class="content">
        <ul class="list">
           <li class="active">
               Koju dokumentaciju kupac treba da<br/>
               kontrolise pre kupovine apartmana ili stana?
           </li>
            <li>
                Koji se porez placa prilokom<br/>
                kupovine apartmana ili stana?
            </li>
            <li>
                Kako uknjiziti apartman ili stan u<br/>
                katastar nepokretnosti?
            </li>
            <li>
                Ko je obveznik na prenos<br/>
                apsolutnih prava?
            </li>
        </ul>
        <div class="description">
            <p>
                1. Dokaz da je stan uknjižen. Dokaz - list nepokretnosti koji izdaje Katastar nepokretnosti
                u kome stan koji se kupuje treba da je privatna svojina i da nema tereta. Ako je stan uknjižen
                kao državina stan se ne može prodati jer državina nije u prometu.
            </p>

            <p>
                2. Pre kupovine stana u izgradnji od prodavca - investitora koji gradi objekat za tržište
                proveriti sledeće:
            </p>

            Najvažnije je proveriti bonitet investitora i to:

            <ul>
                <li>
                    Koliko je investitor pouzdan. Najbolji odgovor daće Vam predhodni kupci stanova.
                    Koliko dugo i kako pravi stanove. Da li poštuje rokove iz ugovora?
                </li>

                <li>
                    Da li je parcela na kojoj se gradi uknjižena i na čije ime su izdati lokaciski uslovi.
                </li>

                <li>
                    Da li investitor poseduje građevinsku dozvolu za izgradnju
                    objekta koja se izdaje na osnovu glavnog projkta.
                </li>
            </ul>
        </div>
    </div>
</div>
