@import "../../../style/palette";

.ribbon {

  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;

  &-gold {

    background: $gi-gold;
  }

  &-dark {

    background: $gi-charocal;
    color: #fff;
  }
}
